:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}
/* styles/NavMenu.module.css */
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.left {
  flex: 1;
}

.center {
  flex: 2;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

li a {
  text-decoration: none;
  margin-right: 20px;
}

.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.register-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.register-button:hover {
  background-color: #0056b3;
}

/* Add an active style for the current page/link */
li.active-link {
  font-weight: bold;
  /* Customize the active link style as desired */
}
/* styles/Footer.module.css */
.footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 50px;
  height: auto;
  margin-right: 10px;
}

.text {
  color: gray;
  font-size: 14px;
}

.right {
  display: flex;
  gap: 1rem;
  font-size: 24px;
}

.right a {
  color: gray;
  cursor: pointer;
  transition: 0.5s ease all;
}
.right a:hover {
  color: darkorange;
}
/* footer styling end */
/* styles/Registration.module.css */
.registration-container {
  background-color: white;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #007bff; /* Color at the top */
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  width: 500px;
  min-height: 500px; /* Make the container at least as tall as the viewport */
  margin: 0 auto; /* Horizontally center the container */
}

.form-container {
  width: 400px;
  text-align: center; 
}

.input-field {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.register-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.register-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
.registration-formText{
  color: gray;
  text-decoration: none;
}
.registration-formText span{
color: #007bff;
  cursor: pointer;
}

/* styles/LoginForm.module.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.login-form {
  background-color: white;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}
